@import "tailwindcss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.recharts-wrapper:focus,
.recharts-surface:focus {
  outline: none;
}
